<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  </head>
  <body ng-app="myMovieApp">
  	<h1>Movie Application</h1>
  		<span>Powerd by OMDb API</span>
  	<div class="content">
	  	<div ng-controller="MovieController">
	  		<div class="search">
		  		<form name = "searchMovie">
		  			<input type="text" placeholder="Movie title" ng-model="titleParam">
		  			<input type="submit" value="Search" ng-click="search()">
		  		</form>
		  	</div>
	  		<div class="result" ng-repeat="detail in details">
	  			<h2 class="title">Title</h2><p>{{detail.Title}}</p>
	  			<p class="plot">Plot</p><p>{{detail.details.Plot}}</p>
		  	</div>
	  	</div>
  	</div>
  	<script type="text/javascript" src="js/script.js"></script>
  </body>
</html>